* {
    margin: 0;
    padding: 0;
}
:root {
    --alpha: #000;
    --beta: #FFF;
}
main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
#screen {
    width: 90%;
    height: 90%;
    background-color: #000;
    color: #FFF;
    position: relative;
}
.item::before, .item::after {
    content: attr(etext);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.item::before {
    left: 0;
    background-color: var(--alpha);
    color: var(--beta);
}
.item::after {
    right: -50%;
    background-color: var(--beta);
    color: var(--alpha);
}