:root {
    --frame: #444;
    --bg: #000;
    --fg: #FFF;
    /* --left-con: #00F;
    --right-con: #F00; */

    /* from https://www.designpieces.com/palette/nintendo-switch-brand-colours-hex-and-rgb/ + minor adjustments */
    --right-con: #ff3040;
    --left-con: #00ceee;

    --corner: 60px;
    --temp-screen: url("images/nintendo-switch-1222479.webp");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
.container {
    background-color: var(--fg);
    width: 1000px;
    height: 700px;
    margin: 25px auto;
    position: relative;
}
.container h1 {
    margin: auto;
    position: relative;
    text-align: center;
    border: 0;
    color: var(--left-con);
    text-shadow: 2px 2px 0 var(--right-con);
}
.container * {
    position: absolute;
    border: 4px solid var(--bg);
}
.frame {
    background: var(--frame);
    width: 90%;
    height: 55%;
    top: 15%;
    left: 5%;
    border-radius: var(--corner);
}
.joycon {
    width: 20%;
    height: 102%;
    top: -1%;
    z-index: 1;
}
.joycon.left {
    background: var(--left-con);
    border-radius: var(--corner) 0 0 var(--corner);
    left: -1%;
}
.joycon.right {
    background: var(--right-con);
    border-radius: 0 var(--corner) var(--corner) 0;
    right: -1%;
}
.trigger {
    width: 15%;
    height: 15%;
    top: -2%;
    background: var(--frame);
    border: 0;
}
.left.trigger {
    left: -1.2%;
    border-radius: var(--corner) 5px;
}
.right.trigger {
    right: -1.2%;
    border-radius: 5px var(--corner);
}
.power {
    width: 4%;
    height: 2%;
    border-radius: 10%;
    border-color: var(--bg);
    top: -2.5%;
    left: 20%;
}
.volume {
    width: 8%;
    height: 1%;
    top: -2%;
    left: 27%;
    z-index: 1;
    border: 0;
    border-radius: 10%;
    border-top: 2px  solid #0000;
    border-left: 35px  solid var(--frame);
    border-right: 35px  solid var(--frame);
}
.btns:hover {
    cursor: pointer;
    scale: 1.2;
}
.sign {    
    top: 10%;
    width: 10%;
    height: 2%;
}
.left .sign {
    right: 20%;
}
.right .sign {
    left: 20%;
}
.stick {
    width: max(4vw, 70px);
    height: max(4vw, 70px);
    border-radius: 50%;
    background-color: var(--bg);
    border: 6px solid var(--fg);
}
.left .stick {
    top: 20%;
    left: 25%;
}
.right .stick {
    top: 55%;
    right: 25%;
}
.fourway-btn {
    width: max(5vw, 90px);
    height: max(5vw, 90px);
    border: 0;
}
.left .fourway-btn {
    top: 50%;
    left: 20%;
}
.right .fourway-btn {
    top: 20%;
    right: 20%;
}
.button {
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--frame);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
}
.fourway-btn .up {
    top: 0;
    left: 30%;
}
.fourway-btn .right {
    right: 0%;
    top: 30%;
}
.fourway-btn .down {
    bottom: 0%;
    left:30%;
}
.fourway-btn .left {
    top: 30%;
    left: 0;
}
.left .button.system {
    top: 80%;
    left: 60%;
}
.right .button.system {
    top: 80%;
    right: 60%;
}
.screen {
    width: 61%;
    height: 97%;
    top: 1.5%;
    left: 19.5%;
    border: 10px solid var(--bg);
    background-color: var(--fg);
    background: var(--temp-screen);
    background-position: center;
    background-size: 130%;
}
/* @media screen and (min-width: 500px) {
    body {
        scale: 0.5;
    }    
}
@media screen and (min-width: 1500px) {
    body {
        scale: 1.5;
    }    
}