:root {
    --frame: #444;
    --bg: #000;
    --fg: #FFF;

    --selector-color: #00F;
    --border-color: #FFF;
    --screen-bg: #FFF;
    /* from https://www.designpieces.com/palette/nintendo-switch-brand-colours-hex-and-rgb/ + minor adjustments */
    --right-con: #ff3040;
    --left-con: #00a0ff;

    --corner: 60px;
    --screen: unset;
    --border-style: 0%;
    --pulse-freq: 0s;
    --trasnf: scale(0);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
.container {
    background-color: var(--fg);
    width: 1000px;
    height: 700px;
    margin: 25px auto;
    position: relative;
}
.container h1 {
    margin: auto;
    position: relative;
    text-align: center;
    color: var(--left-con);
    text-shadow: 2px 2px 0 var(--right-con);
}
.container * {
    position: absolute;
}
.frame {
    border: 4px solid var(--bg);
    background: var(--frame);
    width: 90%;
    height: 55%;
    top: 15%;
    left: 5%;
    border-radius: var(--corner);
    box-shadow: 0 0 5px #000;
}
.joycon {
    width: 20%;
    height: 102%;
    top: -1%;
    z-index: 1;
    box-shadow: inset 0 0 25px #0009;
}
.joycon.left {
    background: var(--left-con);
    border-right: 4px solid var(--bg);
    border-radius: var(--corner) 0 0 var(--corner);
    left: -1%;
}
.joycon.right {
    background: var(--right-con);
    border-left: 4px solid var(--bg);
    border-radius: 0 var(--corner) var(--corner) 0;
    right: -1%;
}
.trigger {
    width: 15%;
    height: 15%;
    top: -3%;
    background: var(--frame);
    box-shadow: inset 0 0 8px #000;
}
.left.trigger {
    left: -1.2%;
    border-radius: var(--corner) 5px;
}
.right.trigger {
    right: -1.2%;
    border-radius: 5px var(--corner);
}
.power {
    width: 4%;
    height: 2%;
    border-radius: 10%;
    background-color: var(--bg);
    top: -2.5%;
    left: 20%;
}
.volume {
    width: 8%;
    height: 2%;
    top: -2%;
    left: 27%;
    z-index: 1;
    border-radius: 10%;
    border-top: 2px  solid var(--bg);
    border-left: 35px  solid var(--bg);
    border-right: 35px  solid var(--bg);
}
.btns, .button {
    box-shadow: 0 0 4px #000;
}
.btns:hover, .button:hover, .trigger:hover {
    cursor: pointer;
    scale: 1.2;
}
.sign {    
    top: 10%;
    width: 17%;
    height: 3.4%;
    background-color: var(--bg);
}
.left .sign {
    right: 20%;
}
.right .sign {
    left: 20%;
}
.positive {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    rotate: 90deg;
}
.stick {
    width: max(4vw, 70px);
    height: max(4vw, 70px);
    border-radius: 50%;
    background: var(--frame);
    box-shadow: inset 0 0 8px 4px #222, 0 0 8px #000;
}
.left .stick {
    top: 20%;
    left: 25%;
}
.right .stick {
    top: 55%;
    right: 25%;
}
.fourway-btn {
    width: 110px;
    height: 110px;
}
.left .fourway-btn {
    top: 50%;
    left: 20%;
}
.right .fourway-btn {
    top: 20%;
    right: 20%;
}
.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: var(--fg);
    background-color: var(--bg);
    border: 2px solid var(--frame);
}
.fourway-btn .up {
    top: 0;
    left: 30%;
}
.fourway-btn .right {
    right: 0%;
    top: 30%;
}
.fourway-btn .down {
    bottom: 0%;
    left:30%;
}
.fourway-btn .left {
    top: 30%;
    left: 0;
}
.icon {
    width: 0px;
    height: 0px;
    /* --tri-size: 14px;
    --tri-1: 8px;
    --tri-2: 4px; */
    --tri-size: 12px;
    --tri-1: 10px;
    --tri-2: 6px;
}
.iup {
    border-right: var(--tri-size) solid transparent;
    border-bottom: var(--tri-size) solid var(--fg);
    border-left: var(--tri-size) solid transparent;
    
    top: var(--tri-1);
    left: var(--tri-2);
}
.irt {
    border-top: var(--tri-size) solid transparent;
    border-left: var(--tri-size) solid var(--fg);
    border-bottom: var(--tri-size) solid transparent;

    top: var(--tri-2);
    right: var(--tri-1);
}
.idw {
    border-right: var(--tri-size) solid transparent;
    border-top: var(--tri-size) solid var(--fg);
    border-left: var(--tri-size) solid transparent;

    bottom: var(--tri-1);
    left: var(--tri-2);
}
.ilt {
    border-top: var(--tri-size) solid transparent;
    border-right: var(--tri-size) solid var(--fg);
    border-bottom: var(--tri-size) solid transparent;

    top: var(--tri-2);
    left: var(--tri-1);
}
.left .button.system {
    top: 80%;
    left: 60%;
}
.right .button.system {
    top: 80%;
    right: 60%;
}
.screen {
    top: 1.5%;
    left: 19.5%;
    width: 61%;
    height: 97%;
    border: 10px solid var(--bg);
    background-color: var(--screen-bg);
    transition: background-color 0.5s;
    box-shadow: inset 0 0 12.5px #000;
}
.screen * {
    display: var(--screen);
    transition: all 0.5s;
}
.stage {
    width: 99.6%;
    height: 99.4%;
    margin: 0.2%;
}
.stage * {
    position: relative;
}
.row {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.pixel {
    background-color: var(--selector-color);
    /* margin: 1px; */
}
.selected {
    border-radius: var(--border-style);
    border: 6px double var(--border-color);
    animation: pulse var(--pulse-freq) 0.3s linear infinite;
    transform: var(--transf);
}
@keyframes pulse {
    /*Heilung - Traust (drum drum chi-chi*/
    from, to {
    }
    10% {
        scale: 1;
    }
    20% {
        scale: 0;
    }
    30% {
        scale: 1;
    }
    40% {
        scale: 0;
    }
    50% {
        scale: 1;
    }
    70% {
        scale: 1;
    }
    80% {
        scale: 0;
    }
    90% {
        scale: 1;
    }
}
/* Guide */
#guide {
    bottom: 1%;
    left: 15%;
    width: 70%;
    height: 25%;
    padding: 1%;
    overflow-y: auto;
    display: block;
    border: 2px solid var(--bg);
}
#guide * {
    position: relative;
}
#guide p {
    padding-bottom: 8px;
}
#guide p span {
    font-weight: bold;
}
#guide p small {
    background-color: #0002;
}
#toggle-guide {
    top: 0%;
    right: 0%;
    width: 8%;
    height: 4%;
    padding: 4px 6px;
    z-index: -1;
}
hr {
    background: #0009;
    height: 2px;
    width: 100%;
    margin: 2px 0;
}
#tracker {
    top: 5%;
    left: 15%;
    height: max-content;
    width: 70%;
    padding: 4px;
    display: none;
    text-align: center;
    z-index: 999;
    background-color: #EEED;
    color: #000;
    border-radius: 12px;
}
.inspiration {
    display: flex;
    justify-content: space-evenly;
}
/* Resposive */
/*
* {
    visibility: hidden;
}
body, .frame, .frame *, #toggle-guide, #guide, #guide * {
    visibility:visible;
}
body, #toggle-guide, #guide {
    background-color: #eee;
}
.body {
    width: fit-content;
    height: 400px;
}
.frame {
    width: 900px;
    height: 385px;
    top: 10px
}
*/